[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-countries = "*"
psycopg2-binary = "*"
asgiref = "*"
flake8 = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.8"
